<div class="mainContainer" *ngIf="!showScoreGoBack">
  <countdown #cd [config]="{leftTime: 15, notify:[1]}" (event)="handleEvent($event)"></countdown>
  <div class="questionContainer">

    <label id="example-radio-group-label">{{question}}</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option.optValue"
        (change)="onAnswerSelected($event,option)">
        {{option.optValue}}
      </mat-radio-button>
    </mat-radio-group>
    <div *ngIf="!showSubmit">
      <button mat-raised-button color="primary" (click)="goToNextQuestion()">NEXT</button>
    </div>
    <div *ngIf="showSubmit">
      <button mat-raised-button color="primary" (click)="calculateScore()">Submit</button>
    </div>
  </div>
</div>

<div *ngIf="showScoreGoBack" class="showScoreGoToSignUp">
  <p>Your Total Score: {{totalPoints}} out of 500</p>
  <button mat-raised-button color="primary" (click)="goToSignUp()">Go To Signup</button>
</div>
